/* No Results */
.noResults {
  display: flex;
  margin-top: 5%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .text {
    font-size: 1.75rem;
    color: #b8b8b8;
  }
}

/* Loader */
.loader {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 0.25rem solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 0.25rem solid #b8b8b8;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 1s linear infinite;
}

.showLoader {
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
