/* Variables */
$movieWidth: 12%;
$movieMargin: 1%;
$fontSizeBase: 16px;

/* Movie Grid */
#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{$movieWidth}, 1fr));
  gap: 3rem;
  padding: 2%;

  .movie {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 0.6em;
    cursor: pointer;

    .movieDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1.2rem 2.4rem 0.5rem;
      gap: 1.2em;
      height: 100%;
      /* Movie Header */
      .movieHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        /* Title */
        .title {
          font-size: 1rem;
        }

        /* Date */
        .dateWrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #b8b8b8;

          .dateIcon {
            width: 1rem;
            vertical-align: bottom;
            margin-right: 0.3rem;
          }
        }
      }

      /* Movie Overview */
      .movieOverview {
        font-size: 0.9em;
        max-height: 8em;
        line-height: 1.35em;
        overflow: hidden;
        color: #b8b8b8;
      }

      /* Movie Footer */
      .movieFooter {
        display: flex;
        align-items: center;

        /* Genres */
        .genres {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .genre {
            display: inline-block;
            padding: 0 0.6em;
            font-size: 0.7rem;
            color: #b8b8b8;
          }
        }

        /* Rating */
        .ratingWrapper {
          display: flex;
          align-items: flex-start;

          .ratingIcon {
            width: 1rem;
            margin-right: 0.3rem;
          }
        }
      }
    }

    /* Movie Poster */
    .moviePosterContainer .moviePoster {
      width: 100%;
      border-top-left-radius: 0.6em;
      border-top-right-radius: 0.6em;
    }
  }
}

/* Media Queries */
@media only screen and (max-width: 1600px) {
  #movies {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}

@media only screen and (max-width: 1050px) {
  #movies {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
