/* Search bar */
.header {
  display: flex;
  align-items: center;

  .title {
    font-family: 'Indie Flower', cursive;
    color: #b8b8b8;
    font-size: 3rem;
  }

  .search {
    width: 35%;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding-right: 13%;

    .searchTerm {
      width: 100%;
      border: 0.2rem solid #b8b8b8;
      border-right: none;
      padding: 0.3rem;
      height: 1.25rem;
      border-radius: 0.3rem 0 0 0.3rem;
      outline: none;
      color: #b8b8b8;
      font-size: 0.813rem;

      &:focus {
        color: #b8b8b8;
      }
    }

    .searchButton {
      width: 2.4rem;
      height: 2.25rem;
      border: 0.2rem solid #b8b8b8;
      border-left: none;
      text-align: center;
      color: #fff;
      border-radius: 0 0.3rem 0.3rem 0;
      font-size: 1.25rem;
      outline: none;
    }
  }
}
