body {
    background-color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.movie {
    display: flex;
    flex-direction: column;
    flex: 0 0 14%;
    max-width: 14%;
    margin: 1% 3%;
    height: 580px;
    background: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}

.movie .movieDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 2% 5%;
}

.movie .moviePosterContainer .moviePoster {
    width: 100%;
    border-radius: 3px;
}

.movie .movieDetails .movieHeader, .movie .movieDetails .movieFooter {
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Movie Overview */

.movie .movieDetails .movieOverview {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Title  */

.movie .movieDetails .movieHeader .title {
    font-size: 18px;
}

/* Date  */

.movie .movieDetails .movieHeader .dateWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie .movieDetails .movieHeader .dateWrapper .dateIcon {
    width: 17px;
    vertical-align: bottom;
    margin-right: 5px;
}

/* Genre */

.movie .movieDetails .movieFooter .genres {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie .movieDetails .movieFooter .genres .genre {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    color: #B8B8B8;
}

/* Rating  */

.movie .movieDetails .movieFooter .ratingWrapper {
    flex: 0 0 40%;
    display: flex;
    align-items: flex-start;
}

.movie .movieDetails .movieFooter .ratingWrapper .ratingIcon {
    width: 18px;
    margin-right: 5px;
}

/* No Results  */

.noResults {
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.noResults .text {
    font-size: 28px;
    color: #B8B8B8;
}

 /* Search bar  */

.header {
    display: flex;
    align-items: center;
}

.header .title {
    font-family: 'Indie Flower', cursive;
    color: #B8B8B8;
    font-size: 47px;
}

.header .search {
    width: 35%;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding-right: 13%;
}

.header .search .searchTerm {
    width: 100%;
    border: 3px solid #B8B8B8;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #B8B8B8;
    font-size: 13px;
}

.header .search .searchTerm:focus{
    color: #B8B8B8;
}

.header .search .searchButton {
    width: 39px;
    height: 36px;
    border: 3px solid #B8B8B8;
    border-left: none;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    outline: none;
}

 /* Loader  */

.loader {
    display: none;
    text-align: center;
    margin: 5% auto;
}

.showLoader {
    display: block;
}

.loader span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #B8B8B8;
    margin: 35px 5px;
    opacity: 0;
}

.loader span:nth-child(1){
    animation: opacitychange 1s ease-in-out infinite;
}

.loader span:nth-child(2){
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3){
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
    0%, 100%{
        opacity: 0;
    }

    60%{
        opacity: 1;
    }
}

@media only screen and (max-width: 1500px) {
    .movie {
        flex: 0 0 20%;
        max-width: 20%;
        margin: 1% 2.5%;
    }
}

@media only screen and (max-width: 1050px) {
    .movie {
        flex: 0 0 30%;
        max-width: 30%;
        margin: 1% 1.66%;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from { top:-300px; opacity:0 }
    to { top:0; opacity:1 }
}

@keyframes animatetop {
    from { top:-300px; opacity:0 }
    to { top:0; opacity:1 }
}

/* The Close Button */
.close {
    color: #B8B8B8;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 5px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.showModal {
     display: block;
}

.hideModal {
    display: none;
}

.modalContentContainer {
    background-color: #E8E8E8;
}

/* Modal Content Header */
.modalContentContainer .movieDetails .movieHeader {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.modalContentContainer .movieDetails .movieHeader .title {
    font-size: 30px;
    padding: 10px 0 5px 25px;
}

.modalContentContainer .movieDetails .movieHeader .ratingWrapper .ratingStar {
    margin-right: 5px;
}

.modalContentContainer .movieDetails .movieHeader .ratingWrapper .ratingIconStar {
    width: 18px;
}

.modalContentContainer .movieDetails .movieHeader .ratingWrapper .ratingIconCount {
     width: 14px;
     vertical-align: text-top;
}

.modalContentContainer .movieDetails .movieHeader .ratingWrapper .ratingCount {
    padding-left: 1px;
}

/* Modal Content Body */
.modalContentContainer .movieDetails .movieBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.modalContentContainer .movieDetails .movieBody .movieOverview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    width: 90%;
    border-radius: 13px;
    margin-top: 15px;
}

.modalContentContainer .movieDetails .movieBody .movieOverview .title {
    color: #b8b8b8;
    padding: 10px 0;
}

.modalContentContainer .movieDetails .movieBody .movieOverview .text {
    font-size: 14px;
    margin: 0 40px 20px 40px;
}

/* Modal Content Footer */
.modalContentContainer .movieDetails .movieFooter .reviewsWrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    background: whitesmoke;
    border-radius: 13px;
    padding-bottom: 17px;
}

.modalContentContainer .movieDetails .movieFooter .reviewsWrapper .title {
    text-align: center;
    padding-top: 10px;
    color: #B8B8B8;
}

.modalContentContainer .movieDetails .movieFooter .reviewsWrapper .reviews {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.modalContentContainer .movieDetails .movieFooter .reviewsWrapper .reviews .review {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.modalContentContainer .movieDetails .movieFooter .reviewsWrapper .reviews .expandReview {
    height: 100%;
}

.modalContentContainer .movieDetails .movieFooter .reviewsWrapper .reviews .author {
    font-size: 14px;
    padding-bottom: 2px;
    font-style: italic;
}

.modalContentContainer .movieDetails .movieFooter .reviewsWrapper .reviews .content {
    padding: 5px 13px 0 13px;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.modalContentContainer .movieDetails .movieFooter .similarMoviesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 14px 0 12%;
    align-items: center;
    overflow: scroll;
}

.modalContentContainer .movieDetails .movieFooter .similarMoviesWrapper .title {
    padding-bottom: 8px;
}

.modalContentContainer .movieDetails .movieFooter .similarMoviesWrapper .similarMovies {
    display: flex;
    overflow: scroll;
    max-width: 100%;
}

.modalContentContainer .movieDetails .movieFooter .similarMoviesWrapper .similarMovies .similarMovie {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    margin: 10px 5px;
    height: 100%;
    background: whitesmoke;
    border-radius: 14px;
}

.modalContentContainer .movieDetails .movieFooter .similarMoviesWrapper .similarMovies .similarMovie .moviePoster {
    height: 225px;
    width: 150px;
}

.modalContentContainer .movieDetails .movieFooter .similarMoviesWrapper .similarMovies .similarMovie .content {
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    color: #b8b8b8;
}
